<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <ApplicationRevision>20</ApplicationRevision>
    <ApplicationVersion>1.0.0.*</ApplicationVersion>
    <BootstrapperComponentsLocation>Absolute</BootstrapperComponentsLocation>
    <BootstrapperComponentsUrl>http://10.33.95.50:8888/</BootstrapperComponentsUrl>
    <BootstrapperEnabled>True</BootstrapperEnabled>
    <Configuration>Release</Configuration>
    <CreateWebPageOnPublish>True</CreateWebPageOnPublish>
    <GenerateManifests>true</GenerateManifests>
    <Install>True</Install>
    <InstallFrom>Web</InstallFrom>
    <InstallUrl>http://10.33.95.50:3344/</InstallUrl>
    <IsRevisionIncremented>True</IsRevisionIncremented>
    <IsWebBootstrapper>True</IsWebBootstrapper>
    <MapFileExtensions>True</MapFileExtensions>
    <OpenBrowserOnPublish>False</OpenBrowserOnPublish>
    <Platform>Any CPU</Platform>
    <PublishDir>bin\Release\net8.0-windows\app.publish\</PublishDir>
    <PublishUrl>E:\5.IO数据库管理平台\【1】IO管理软件\3 发布\客户端\</PublishUrl>
    <PublishProtocol>ClickOnce</PublishProtocol>
    <PublishReadyToRun>False</PublishReadyToRun>
    <PublishSingleFile>False</PublishSingleFile>
    <SelfContained>False</SelfContained>
    <SignatureAlgorithm>(无)</SignatureAlgorithm>
    <SignManifests>False</SignManifests>
    <SkipPublishVerification>false</SkipPublishVerification>
    <TargetFramework>net8.0-windows</TargetFramework>
    <UpdateEnabled>True</UpdateEnabled>
    <UpdateMode>Foreground</UpdateMode>
    <UpdateRequired>False</UpdateRequired>
    <WebPageFileName>Publish.html</WebPageFileName>
    <History>True|2024-04-18T09:55:29.1444976Z;True|2024-04-17T13:46:58.7064923+08:00;True|2024-04-17T09:54:29.0247477+08:00;True|2024-04-16T14:47:41.3393459+08:00;True|2024-04-16T14:18:50.7048523+08:00;True|2024-04-16T14:03:53.1888507+08:00;True|2024-04-16T09:34:32.9403042+08:00;True|2024-04-15T15:11:12.8708060+08:00;True|2024-04-15T14:59:20.9773849+08:00;True|2024-04-15T10:12:23.4588283+08:00;True|2024-04-12T14:17:12.8289560+08:00;True|2024-04-10T16:18:20.5934050+08:00;True|2024-04-10T16:04:41.0971272+08:00;True|2024-04-09T11:01:18.4352162+08:00;True|2024-04-07T17:07:58.1545186+08:00;True|2024-04-07T13:22:22.3394775+08:00;True|2024-04-03T16:53:49.2048474+08:00;False|2024-04-03T16:52:45.3156517+08:00;True|2024-04-03T16:34:50.2410717+08:00;True|2024-03-28T20:06:34.3150225+08:00;False|2024-03-28T20:05:45.1940793+08:00;</History>
  </PropertyGroup>
  <ItemGroup>
    <BootstrapperPackage Include="Microsoft.NetCore.DesktopRuntime.8.0.x64">
      <Install>True</Install>
      <ProductName>.NET 桌面运行时 8.0.2 (x64)</ProductName>
    </BootstrapperPackage>
  </ItemGroup>
</Project>