<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <ApplicationRevision>18</ApplicationRevision>
    <ApplicationVersion>1.0.2.*</ApplicationVersion>
    <BootstrapperEnabled>True</BootstrapperEnabled>
    <Configuration>Release</Configuration>
    <CreateWebPageOnPublish>True</CreateWebPageOnPublish>
    <GenerateManifests>true</GenerateManifests>
    <Install>True</Install>
    <InstallFrom>Web</InstallFrom>
    <InstallUrl>http://10.33.11.60:3344/</InstallUrl>
    <IsRevisionIncremented>True</IsRevisionIncremented>
    <IsWebBootstrapper>True</IsWebBootstrapper>
    <MapFileExtensions>True</MapFileExtensions>
    <OpenBrowserOnPublish>False</OpenBrowserOnPublish>
    <Platform>Any CPU</Platform>
    <PublishDir>bin\Release\net8.0-windows\app.publish\</PublishDir>
    <PublishUrl>E:\【2】工作记录\【2】IO管理平台\【1】IO管理软件\2 发布\客户端\Application Files\</PublishUrl>
    <PublishProtocol>ClickOnce</PublishProtocol>
    <PublishReadyToRun>False</PublishReadyToRun>
    <PublishSingleFile>False</PublishSingleFile>
    <SelfContained>False</SelfContained>
    <SignatureAlgorithm>(无)</SignatureAlgorithm>
    <SignManifests>False</SignManifests>
    <SkipPublishVerification>false</SkipPublishVerification>
    <TargetFramework>net8.0-windows</TargetFramework>
    <UpdateEnabled>True</UpdateEnabled>
    <UpdateMode>Foreground</UpdateMode>
    <UpdateRequired>False</UpdateRequired>
    <WebPageFileName>Publish.html</WebPageFileName>
    <History>True|2024-07-12T06:47:18.5776960Z;True|2024-07-12T10:43:37.3883201+08:00;True|2024-07-04T15:49:21.8911520+08:00;True|2024-07-04T15:11:15.0714188+08:00;True|2024-06-27T16:49:56.5216632+08:00;True|2024-06-27T16:20:14.3644216+08:00;True|2024-06-27T15:31:19.6812181+08:00;True|2024-06-27T14:38:19.0407818+08:00;True|2024-06-27T14:26:41.2120927+08:00;True|2024-06-27T14:21:44.7452815+08:00;True|2024-06-27T14:19:40.5301008+08:00;True|2024-05-14T16:43:12.1966235+08:00;True|2024-05-14T16:36:56.6957212+08:00;True|2024-05-14T13:30:49.7944095+08:00;True|2024-05-14T11:23:28.2560023+08:00;True|2024-05-14T11:22:21.5028024+08:00;True|2024-05-14T11:21:07.8848048+08:00;</History>
  </PropertyGroup>
  <ItemGroup>
    <BootstrapperPackage Include="Microsoft.NetCore.DesktopRuntime.8.0.x64">
      <Install>True</Install>
      <ProductName>.NET 桌面运行时 8.0.2 (x64)</ProductName>
    </BootstrapperPackage>
  </ItemGroup>
</Project>